In [1]:
import pandas as pd

In [2]:
df_criteo18 = pd.read_pickle('/mnt/mp_large_data/t.higuchi_large_data/opt/data/criteo_2018')

In [3]:
df_criteo18.head()

,md_id,day_of_week,ac_id,ac_name,cp_id,cp_name,ag_id,ag_name,ad_id,ad_name,...,path1,path2,bis_name,img_size,label,cv_ydn,revenue_ydn,file_name,created_timestamp,account_label_id
rp_date,,,,,,,,,,,,,,,,,,,,,
2018-02-19,4,1,4efc7e117edf0cc00852f712c64f3784,,100956.0,,-9.0,,None,,...,d41d8cd98f00b204e9800998ecf8427e,d41d8cd98f00b204e9800998ecf8427e,d41d8cd98f00b204e9800998ecf8427e,d41d8cd98f00b204e9800998ecf8427e,d41d8cd98f00b204e9800998ecf8427e,None,None,9678e4a41d5348615c5e58d24f5ba36c,2019-06-21 16:19:07,None
2018-02-11,4,7,4efc7e117edf0cc00852f712c64f3784,,100956.0,,-9.0,,None,,...,d41d8cd98f00b204e9800998ecf8427e,d41d8cd98f00b204e9800998ecf8427e,d41d8cd98f00b204e9800998ecf8427e,d41d8cd98f00b204e9800998ecf8427e,d41d8cd98f00b204e9800998ecf8427e,None,None,3d795977e8ff2bccf3d894d11dc706d2,2019-06-21 16:19:07,None
2018-02-09,4,5,4efc7e117edf0cc00852f712c64f3784,,100956.0,,-9.0,,None,,...,d41d8cd98f00b204e9800998ecf8427e,d41d8cd98f00b204e9800998ecf8427e,d41d8cd98f00b204e9800998ecf8427e,d41d8cd98f00b204e9800998ecf8427e,d41d8cd98f00b204e9800998ecf8427e,None,None,6f22ef9eaea9d51c07ba2835580af6f5,2019-06-21 16:19:07,None
2018-02-24,4,6,4efc7e117edf0cc00852f712c64f3784,,100956.0,,-9.0,,None,,...,d41d8cd98f00b204e9800998ecf8427e,d41d8cd98f00b204e9800998ecf8427e,d41d8cd98f00b204e9800998ecf8427e,d41d8cd98f00b204e9800998ecf8427e,d41d8cd98f00b204e9800998ecf8427e,None,None,39113cf38e5ec7654e089e884aec2511,2019-06-21 16:19:07,None
2018-02-12,4,1,4efc7e117edf0cc00852f712c64f3784,,100956.0,,-9.0,,None,,...,d41d8cd98f00b204e9800998ecf8427e,d41d8cd98f00b204e9800998ecf8427e,d41d8cd98f00b204e9800998ecf8427e,d41d8cd98f00b204e9800998ecf8427e,d41d8cd98f00b204e9800998ecf8427e,None,None,f968f9736baf172a70a558432dafd21f,2019-06-21 16:19:07,None

In [4]:
df_criteo18.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1082337 entries, 2018-02-19 to 2018-07-03
Data columns (total 68 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   md_id              1082337 non-null  int64
 1   day_of_week        1082337 non-null  int64
 2   ac_id              1082337 non-null  object
 3   ac_name            1082337 non-null  object
 4   cp_id              1082337 non-null  float64
 5   cp_name            1082337 non-null  object
 6   ag_id              1082337 non-null  float64
 7   ag_name            1082337 non-null  object
 8   ad_id              0 non-null        object
 9   ad_name            1082337 non-null  object
 10  ad_status          1082337 non-null  object
 11  ad_title           1082337 non-null  object
 12  ad_type            1082337 non-null  object
 13  desc1              1082337 non-null  object
 14  desc2              1082337 non-null  object
 15  device             0 non-null        object
 16  nw_type            0 non-null        object
 17  imps               1082337 non-null  float64
 18  clicks             1082337 non-null  float64
 19  cost               1082337 non-null  float64
 20  cv                 1082337 non-null  float64
 21  cv_u               0 non-null        object
 22  avg_pos            0 non-null        object
 23  revenue            1082337 non-null  float64
 24  video_views        0 non-null        object
 25  video_views_10s    0 non-null        object
 26  likes              0 non-null        object
 27  post_shr           0 non-null        object
 28  post_comment       0 non-null        object
 29  post_reactions     0 non-null        object
 30  video_views_25p    0 non-null        object
 31  video_views_50p    0 non-null        object
 32  video_views_75p    0 non-null        object
 33  video_views_100p   0 non-null        object
 34  reach              0 non-null        object
 35  social_reach       0 non-null        object
 36  frequency          0 non-null        object
 37  t_vw_imps          0 non-null        object
 38  v_imps             0 non-null        object
 39  v_clicks           0 non-null        object
 40  v_t_cv             0 non-null        object
 41  dest_url           1082337 non-null  object
 42  tr_template        1082337 non-null  object
 43  img_url            1082337 non-null  object
 44  img_nm             1082337 non-null  object
 45  final_mb_urls      1082337 non-null  object
 46  final_urls         1082337 non-null  object
 47  final_app_urls     1082337 non-null  object
 48  custom_params      1082337 non-null  object
 49  dist_setting       1082337 non-null  object
 50  dist_status        1082337 non-null  object
 51  deliver            1082337 non-null  object
 52  disp_url           1082337 non-null  object
 53  ad_title1          1082337 non-null  object
 54  ad_title2          1082337 non-null  object
 55  ad_title_l         1082337 non-null  object
 56  ad_title_s         1082337 non-null  object
 57  desc0              1082337 non-null  object
 58  path1              1082337 non-null  object
 59  path2              1082337 non-null  object
 60  bis_name           1082337 non-null  object
 61  img_size           1082337 non-null  object
 62  label              1082337 non-null  object
 63  cv_ydn             0 non-null        object
 64  revenue_ydn        0 non-null        object
 65  file_name          1082337 non-null  object
 66  created_timestamp  1082337 non-null  datetime64[ns]
 67  account_label_id   0 non-null        object
dtypes: datetime64[ns](1), float64(7), int64(2), object(58)
memory usage: 569.8+ MB